/* 时间轴样式 */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* 时间轴的容器 */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* 容器样式 - 左边 */
.container.left {
  left: 0;
  background-color: #f9f9f9;
}

/* 容器样式 - 右边 */
.container.right {
  left: 50%;
  background-color: #f9f9f9;
}

/* 内容样式 */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* 内容箭头样式 */
.container.left .content::before, .container.right .content::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 1;
  border: medium solid transparent;
  margin-top: -10px;
}

/* 内容箭头位置 - 左边 */
.container.left .content::before {
  left: 100%;
  border-left-color: white;
  border-width: 10px;
}

/* 内容箭头位置 - 右边 */
.container.right .content::before {
  right: 100%;
  border-right-color: white;
  border-width: 10px;
}

/* 动画效果 */
@keyframes slideIn {
  from {transform: translateY(50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

/* 初始化元素状态，设置透明度为0 */
.container .content {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}


/* 动画效果 */
@keyframes slideShow {
  0% {background-image: url('img1.jpg');}
  20% {background-image: url('img2.jpg');}
  40% {background-image: url('img3.jpg');}
  60% {background-image: url('img4.jpg');}
  80% {background-image: url('img5.jpg');}
  100% {background-image: url('img1.jpg');}
}

body {
  margin: 0;
  background-size: cover;
  animation: slideShow 30s infinite;
  transition: background-image 2s ease-in-out;
}

body, .background {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.timeline, .container, .content {
    position: relative;
    z-index: 2;
}